:root{
    --white: #fff;
    --light-gray-1: #eee;
    --light-gray-2: #ddd;
    --light-gray-3: #ccc;

    --black: #000;
    --dark-gray-1: #111;
    --dark-gray-2: #222;
    --dark-gray-3: #333;

    --blue: #33f;
    --red: #f33;
}

*{
    font-family: sans-serif !important;
    user-select: none;
}

#body{
    background-color: var(--light-gray-1);
}

#h1{
    text-align: center;
    letter-spacing: 3px;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 550px;
    margin: 0 auto;
}
    #header-turn-container{
        text-align: center;
    }
        #span-turn{
            font-size: 3rem;
            font-weight: 700;
            color: var(--blue);
            text-shadow: 1px 1px var(--black);
        }   

    #change-theme-button{
        background-color: var(--white);
        color: var(--black);
        padding: .5em;
        border: 3px solid var(--black);
        border-radius: 3px;

        transition: transform .1s;
    }
    #change-theme-button:hover{
        transform: scale(1.05) !important;
    }


#main-grid-container{
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;

    width: 90vw;
    height: 90vw;
    max-width: 540px;
    max-height: 540px;

    background-color: var(--black);
    border: 5px solid var(--black);
}
    .item-grid-container{
        background-color: var(--black);

        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 4px;

        position: relative;

        border: .5em solid var(--white);
    }

        .grid-item{
            background-color: var(--white);
            
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            font-weight: 900;

            transition: background-color .1s;
        }

        .small-win{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 6em;
            font-weight: 700;
            line-height: 0px;
            text-shadow: 4px 4px var(--black);
}

#big-win-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;

    display: none;
    justify-content: center;
    align-items: center;

    animation-name: showUp;
    animation-duration: .5s;
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
    #big-win-alert{
        border: 4px solid var(--black);
        background-color: var(--white);
        padding: 2em;
    }
        #big-winner{
            color: var(--black);
            font-size: 2em;
            text-align: center;
            margin-bottom: 1em;
        }
        #big-winner-span{
            font-size: 3rem;
            text-shadow: 1px 1px var(--black);
        }
        #play-again-button{
            background-color: var(--white);
            color: var(--black);
            font-size: 1.5em;
            font-weight: 700;
            padding: 1em 2em;
            border: 3px solid var(--black);
            border-radius: 3px;

            transition: transform .1s;
        }
        #play-again-button:hover{
            transform: scale(1.05) !important;
    }


.hover:hover{
    background-color: #787878 !important;
}

.blocked{
    background-color: #787878 !important;
    
    transition: background-color .1s;
}


@keyframes showUp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media (width >= 470px) {
    .grid-item{
        font-size: 2em;
    }
    .small-win{
        font-size: 8em;
    }
}